$darkGrey: #f7f7f7;
$lightishGrey : #f3f3f3;
$lightGrey: #ebebeb;
$gradientPink: #FF79DA;
$gradientPinkLighter: #ff96e1;
$gradientPurple: #9356DC;
$gradientPurpleLighter: #9f75d3;
$footerColor: #323232;